html {
	background:#505D6E url(../images/moon.jpg) no-repeat center center fixed;
	min-height:100%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
body {
	background:transparent;
	min-height:100%;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	line-height: 1.5em;
	font-size:14px;
	font-family: Helvetica, Arial, sans-serif;
	color:#fff;
	color:rgba(255,255,255,.8);
	font-weight: normal;
}
h5{
	color:#0066CC;
	font-weight: bolder;
}
p{
color:#fff;
font-weight: 600;
}

/********************************************************/
/*                    Navigation bar                    */
/********************************************************/
.mainmenu { z-index: 999999; width:100%;  padding: 30px 0 0 0;}
@media (min-width: 768px) {
	.mainmenu { position: fixed; }
}
.navbar-toggle {
	position:relative;
	float:left;
	display:block;
	padding: 9px 10px;
	background: rgba(255, 255, 255, 0.2);
	background-image: none;
	border: 0 none;
	top:0px;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	outline: 0;
	opacity: 1;
	-webkit-transition: all .45s;
	   -moz-transition: all .45s;
	        transition: all .45s;
	        float: left;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background: #fff;
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}
.open .navbar-toggle {
	top:-70px;
	opacity: 0;
}
.mainmenu .dropdown-menu {
	top: -14em;
	left: 0px;
	font-size: 13px;
	padding:0;
	background:none;
	border:0 none;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	display:block;
	opacity:0;
	-webkit-transition: all .45s;
	   -moz-transition: all .45s;
	        transition: all .45s;
}
.mainmenu .dropdown-menu .active {
	font-weight:bold;
}
.mainmenu .open .dropdown-menu {
	top:2px;
	opacity:1;
}
.mainmenu .dropdown-menu a {
	padding:10px 10px;
	margin:0;
	color:white;
	text-decoration: none;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}
.mainmenu .dropdown-menu a:hover {
	background:rgba(255,255,255,.1);
	color:white;
	padding:10px 8px 10px 12px;
}



/********************************************************/
/*             Sections - universal classes             */
/********************************************************/
.section {
	z-index: 1;
	min-height:420px;
	width: 100%;
	overflow:auto;
	height:100%;
	padding-top:100px;
	padding-bottom:50px;
	display:none;
	top:0;
}
@media (min-width: 768px) {
	.section { padding-top:80px;}
}
/* Show one of sections */
#head {
	display: block;
}


/********************************************************/
/*                      Typography                      */
/********************************************************/
a { color:#fff; text-decoration: none; }
a:hover, a:active { color:#fff; text-decoration: underline; }
.lead {
	font-weight:normal;
	font-size:1.5em;
	line-height:1.2em;
}
.title,
.subtitle {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:7em;
	margin-bottom:15px;
	color:#FF8300;
	line-height:1em;
}
.subtitle {
	line-height:.9em;
	font-size:5.5em;
	margin-top:0;
	margin-bottom:40px;
}
.sub{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	line-height:.9em;
	font-size:3.5em;
	margin-top:0;
	margin-bottom:40px;
	font-style: italic;
}
.tagline {
	font-size:1.4em;
	line-height:1.3em;
	font-weight:normal;
	margin-bottom:75px;
}

@media (max-width: 767px) {
	.lead {
		font-size:1.3em;
	}
}


/********************************************************/
/*                   UI - Buttons                       */
/********************************************************/
.btn{
	color:#FF8300;
	text-shadow: none;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:0 none;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}
.btn:hover {
	color:#FF8300;
}
.btn-lg {
	padding:16px 30px;
	font-size:inherit;
}

.btn-link {
	color:rgba(255,255,255,.8);
}
.btn-link:hover, .btn-link:focus, .btn-link:active {
	color:#fff
}
.btn-default {
	background: rgba(255,255,255,.5);
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	background: rgba(255,255,255,.8);
}
.btn-primary {
	background: rgba(255,255,255,.2);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active {
	background: rgba(255,255,255,.5);
}



/********************************************************/
/*                 UI - Thumbnails                      */
/********************************************************/
.thumbnail {
	background-color: rgba(255,255,255,.2);
	border: 0 none;
	padding:10px;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}
.thumbnail .caption {
	color: inherit;
}




/***********************************************************/
/*                   Theme: text shadows                   */
/***********************************************************/
.text-shadows {
	text-shadow:0 1px 2px rgba(0,0,0,.2);
}
.text-shadows .title,
.text-shadows .subtitle,
.text-shadows .tagline {
	text-shadow:0 2px 3px rgba(0,0,0,.4);
}
.text-shadows .mainmenu .dropdown-menu a {
	text-shadow:0 2px 1px rgba(0,0,0,.2);
}
.text-shadows .mainmenu .dropdown-menu a:hover {
	text-shadow:none;
}



/***********************************************************/
/*                   Inverted theme                        */
/***********************************************************/
.theme-invert {
	color:#FF8300;
	color:#FF8300;
 }
.theme-invert a {
	color:#FF8300;
}
.theme-invert .btn {
	color:#FFFFFF;
}
.theme-invert .btn:hover {
	color:#FFFFFF;
}
.theme-invert .btn-link {
	color:#0066CC;
}
.theme-invert .btn-link:hover, .theme-invert .btn-link:focus, .theme-invert .btn-link:active {
	color:#0066CC;
}
.theme-invert .navbar-toggle {
	background:#FFFFFF;
}
.theme-invert .navbar-toggle .icon-bar {
  background: #FF8300;
}
.theme-invert .mainmenu .dropdown-menu a {
	color:#FF8300;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}
.theme-invert .mainmenu .dropdown-menu a:hover {
	background:#FFFFFF;
	color:#FF8300;
	font-weight: bold;
}
.theme-invert .title,
.theme-invert .subtitle,{
	color:#FF8300;
}
.theme-invert .tagline {
	color:#0066CC;
}
.theme-invert .btn-default {
	background:#FF8300;
}
.theme-invert .btn-default:hover,
.theme-invert .btn-default:focus,
.theme-invert .btn-default:active,
.theme-invert .btn-default.active {
	background:#0066CC;
	color:#FFFFFF;
	font-weight: bold;
}
.theme-invert .btn-primary {
	background:#FF8300;
}
.theme-invert .btn-primary:hover,
.theme-invert .btn-primary:focus,
.theme-invert .btn-primary:active,
.theme-invert .btn-primary.active {
	background:#FF8300;
	color:#FFFFFF;
}

.theme-invert .thumbnail {
	background-color:#FF8300;
}
.thumbnail .caption {
	color: inherit;
}




/***********************************************************/
/*                   Timer Settings                        */
/***********************************************************/

.timer-control-set{
   border-radius: 5px;
	 margin: 10px;
	 margin-left: 100px;
}
.timer-controls{
   float: left;
}
.timer-display{
   border-radius: 5px;
   color: #FFFFFF;
	 font-family: 'Lato', Helvetica, Arial, sans-serif;
	 font-weight: normal;
   font-size: 600%;
   text-align: center;
	 padding: 60px;
}
.timer-notification-area{
   float: left;
}
.timer-info{
	 font-family: 'Lato', Helvetica, Arial, sans-serif;
   font-size: 3.7em;
   color: #FFFFFF;
   font-weight: lighter;
   text-align: center;
}
.timer-control-label{
	 font-family: 'Lato', Helvetica, Arial, sans-serif;
   font-weight: lighter;
   font-size: 1.7em;
   color: #FFFFFF;
   display: inline-block;
   float: left;
}
.timer-control-input{
   color: #FFFFFF;
   border-radius: 5px;
	 font-family: 'Lato', Helvetica, Arial, sans-serif;
	 font-weight: lighter;
   font-size: 1.7em;
   background: #FF8300;
   text-align: center;
   border: solid 3px #0066CC;
}
.timer-action{
   background: #FF8300;
   border: solid 1px;
	 font-family: 'Lato', Helvetica, Arial, sans-serif;;
   font-weight: lighter;
   color: #FFFFFF;
   border-radius: 5px;
   font-size: 2.7em;
   width: 100%;
	 padding: 20px;
}
.timer-action:hover{
   background: #FF8300;
   border: solid 5px #0066CC;
   color: #0066CC;
}
.timer-float-info{
   float: left;
   padding: 10px;
   border-radius: 5px;
	 margin: 20px;
	 margin-left: 110px;
	 padding-bottom: 50px;
}
.timer-float-info2{
   float: left;
   padding: 10px;
   border-radius: 5px;
	 margin: 20px;
	 padding-bottom: 60px;
}
.timer-display-like{
   color: #FFFFFF;
}

.overlay-container{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0px;
   left: 0px;
   text-align: center;
}
.overlay-container .timer-info{
   color: #FFF;
	 font-family: 'Lato', Helvetica, Arial, sans-serif;
	 font-weight: lighter;
   font-size: 6em;
	 margin-top: 30px;
	 margin-left: 100px;
}

.info-text-title{
	 font-family: 'Lato', Helvetica, Arial, sans-serif;
   font-size: 0.5em;
	 font-weight: lighter;
	 color:#0066CC;
}
.info-text{
	 font-family: 'Lato', Helvetica, Arial, sans-serif;
	 font-weight: lighter;
   font-size: 1.7em;
	 padding-top: 30px;
	 color:#0066CC;
}
.info-text-smaller{
	 font-family: 'Lato', Helvetica, Arial, sans-serif;
	 font-weight: lighter;
   font-size: 0.7em;
	 padding-top: 45px;
	 color:#0066CC;
}

.state-error-mark{
   border: solid 1px #111;
}
